.editor {
    display: inline-block;
    outline: none;
    padding: 50px 50px 65px;
    width: 100%;
    box-sizing: border-box;
}

form .editor p {
    margin-left: 0;
    padding-left: 0;
    font-size: 1.9em;
    color: black;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.8;
}

form .editor h3 {
    padding-left: 0;
    font-size: 5em;
    font-weight: normal;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    margin-bottom: 1em;
}

form .editor h4 {
    padding-left: 0;
    font-weight: normal;
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    font-size: 4em;
    margin-bottom: 1em !important
}
