#djtext_toolbar {
    position: fixed;
    left: 0;
    top: 100%;
    background: #f9f9f9;
    color: #333;
    padding: 20px 50px;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: inline-block;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}

#djtext_toolbar.djtext_toggle {
    top: 0;
}


#djtext_toolbar h3 {
    font-size: 1.17em;
    font-weight: bold;
}

#djtext_toolbar_handle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: 5px solid black;
}

#djtext_toolbar_handle:hover {
    background: white;
    color: black;
    border-color: white;
    text-decoration: underline;
}

.djtext_submit {
    width: 100%;
    background: #7ec3cd;
    padding: 10px 0 10px 0;
    border: 0;
    outline: none;
    text-transform: uppercase;
    color: white;
    display: none;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.djtext_submit:hover {
    background: #6fb1bb;
}

.djtext_message {
    color: #ccc;
    font-size: 12px;
}

@media (max-width: 900px) {
    #djtext_toolbar_handle {
        display: none;
    }
}

.djtext_close_toolbar {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.djtext_editor_wrapper {
    float: left;
    width: 70%;
    box-sizing: border-box;
}

.djtext_editor {
    display: none;
    box-sizing: border-box;
}

.djtext_editor_input {
    max-width: 100%;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 1em;
    padding: 30px 50px 30px;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
}

.djtext_menu {
    width: 30%;
    box-sizing: border-box;
    float: left;
    max-height: 350px;
    overflow-y: scroll;
    padding-left: 40px;
}

.djtext_menu ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

.djtext_menu li {
    background: white;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}

.djtext_menu li:hover {
    background: #666;
    color: #222;
}

#djtext_form .djtext_html_editor {
    background: white;
    margin-bottom: 1em;
    padding: 30px 50px 30px;
}

#djtext_form [for=id_djtext_form-body] {
    display: none;
}
