<textarea class="markdown" cols="40" name="{{ name }}" rows="10" style="display: none;">{{ value }}</textarea>

<div class="editor">{{ rendered }}</div>

<script>
    (function () {
        var markDownEl = document.querySelector(".markdown");
        markDownEl.style.display = 'none';
        new MediumEditor(document.querySelector(".editor"), {
            extensions: {
                markdown: new MeMarkdown(function (md) {
                    markDownEl.innerText = md;
                })
            }
        });
    })();
</script>
